<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/scripts/level_2_global.css"></link>
        <link rel="icon" type="image/png" href="/assets/leaf_logo.png"/>
        <title id="title">Log in</title>
        <style>
            .login-column{
                position: absolute;
                top: 10%;
                left: 35%;
                width: 30%;
                margin-left: auto;
                margin-right: auto;
            }
            .full-logo{
                width: 100%;
            }
            .field-label{
                font-family: ubuntu;
                font-size: 14px;
                color: #888;
            }
        </style>
    </head>
    <body>
        <div class="login-column">
            <a href="/">
                <img src="/assets/full_logo.png" class="full-logo"/>
            </a>
            <br/>
            <br/>
            <br/>
            <div id="form" style="font-family: ubuntu; font-size: 14px;">
                <!-- <form style="font-family: ubuntu; font-size: 14px;"> -->
                    <label for="username" class="field-label">USERNAME</label>
                    <input class="full-logo" type="text" name="username" v-model="un"/>
                    <br/>
                    <br/>
                    <label class="field-label">PASSWORD</label>
                    <input class="full-logo" type="password" v-model="pw"/>
                    <br/>
                    <br/>
                    <div style="text-align: center;">
                        <button style="font-family: ubuntu;" onclick="submit()">Log in</button>
                    </div>
                    <br/>
                    <div style="text-align: center;">Don't have an account? <a href="/signup">Sign up!</a></div>
                <!-- </form> -->
            </div>
        </div>
    </body>
    <script src="/scripts/vue.js"></script>
    <script src="/scripts/login.js"></script>
</html>