<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/scripts/level_2_global.css"></link>
        <link rel="icon" type="image/png" href="/assets/leaf_logo.png"/>
        <title id="title">Sign up</title>
        <style>
            .login-column{
                position: absolute;
                top: 10%;
                left: 35%;
                width: 30%;
                margin-left: auto;
                margin-right: auto;
            }
            .full-logo{
                width: 100%;
            }
            .field-label{
                font-family: ubuntu;
                font-size: 14px;
                color: #888;
            }
        </style>
    </head>
    <body>
        <div class="login-column">
            <a href="/">
                <img src="/assets/full_logo.png" class="full-logo"/>
            </a>
            <br/>
            <br/>
            <br/>
            <div id="form" style="font-family: ubuntu; font-size: 14px;">
                <label for="username" class="field-label">USERNAME</label>
                <input class="full-logo" type="text" name="username" v-model="un"/>
                <br/>
                <br/>
                <label class="field-label">PASSWORD</label>
                <input class="full-logo" type="password" v-model="pw"/>
                <br/>
                <br/>
                <label class="field-label">CONFIRM PASSWORD</label>
                <input class="full-logo" type="password" v-model="pw2"/>
                <br/>
                <br/>
                <div style="text-align: center;">
                    <button style="font-family: ubuntu;" onclick="submit()">Sign up</button>
                </div>
                <br/>
                <div style="text-align: center;">Already have an account? <a href="/login" style="color:forestgreen">Log in!</a></div>
            </div>
        </div>
    </body>
    <script src="/scripts/vue.js"></script>
    <script src="/scripts/signup.js"></script>
</html>